[submodule "prisehub/hr"]
	path = prisehub/hr
	url = git@github.com:prisehub/hr.git
	branch = 10.0

[submodule "odooec"]
	path = odooec
	url = git@github.com:ovnicraft/odooec.git

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 10.0
